<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- BASE LINK -->
    <link name="base_link"></link>

   <!-- BASE FOOTPRINT -->
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="base_footprint"></link>

    <!-- CHASSIS LINK -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.2 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.5 0.0 0.2" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 0.7 0.4"/>
            </geometry>
            <material name="carbon_black"/>
        </visual>
        <collision>
            <origin xyz="0.5 0.0 0.2" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 0.7 0.4"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="2" x="1" y="0.7" z="0.4">
            <origin xyz="0.5 0.0 0.2" rpy="0.0 0.0 0.0"/>
        </xacro:inertial_box>
    </link>

    <!-- ITEM BASKET LINK -->

    <joint name="basket_joint" type="fixed">
        <parent link="chassis"/>
        <child link="basket"/>
        <origin xyz="0.0 0.0 0.4"/>
    </joint>

    <link name="basket">
        <visual>
            <origin xyz="0.4 0.0 0.2"/>
            <geometry>
                <box size="0.8 0.7 0.4"/>
            </geometry>
            <material name="deep_sci_fi_blue"/>        
        </visual>
        <collision>
            <origin xyz="0.35 0.0 0.2"/>
            <geometry>
                <box size="0.8 0.7 0.4"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="3" x="0.7" y="0.7" z="0.6">
            <origin xyz="0.35 0.0 0.3"/>
        </xacro:inertial_box>
    </link>


</robot>